body {
    color: deeppink;
    background-color: black;
    text-align: center; /* Para centrar el contenido en el body */
}

#name, #eslogan {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: left;
}

#seccion1 {
    background-image: url(https://img.freepik.com/free-photo/burger-with-potatoes-with-herbs-spices_114579-2363.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696896000&semt=ais);
    background-size: 100%;
    background-position: right center; /* Alineación a la izquierda */
    padding:400px; /* Espacio alrededor del contenido */
}

/* Añade un contenedor interno para centrar el contenido dentro de la sección */
#contenido {
    text-align: right;
}
